
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section class="about" id="about">
    <div class="row">
        <h1 class="heading"> <span>Về chúng tôi</span></h1>
    </div>
    <div class="row">

        <div class="image">
            <img src="~/image/cay-ca-phe.jpg" alt="" style="height: 535px; border-radius: 12px;">
        </div>
        <div class="content">
            <a href="#" class="about-title">KHỞI NGUỒN</a>
            <p style="font-size: 20px;font-weight: bold;">Thương hiệu bắt nguồn từ cà phê Việt Nam</p>
            <p>HUFLIT Coffee Được sinh ra từ niềm đam mê bất tận với hạt cà phê Việt Nam. Qua một chặng đường dài, chúng tôi đã không ngừng mang đến những sản phẩm cà phê thơm ngon, sánh đượm trong không gian thoải mái và lịch sự với mức giá hợp lý. Những ly cà phê của chúng tôi không chỉ đơn thuần là thức uống quen thuộc mà còn mang trên mình một sứ mệnh văn hóa phản ánh một phần nếp sống hiện đại của người Việt Nam.</p>
            <a href="#" class="btn">XEM CHI TIẾT</a>
        </div>

    </div>
    <div class="row">
        <div class="content content-mobile-hide">
            <a href="#" class="about-title">DỊCH VỤ KHÁCH HÀNG</a>
            <p style="font-size: 20px;font-weight: bold;">Chào mừng bạn đến với HUFLIT Coffee</p>
            <p>Chúng tôi mong muốn mang đến cho bạn những trải nghiệm đáng nhớ mỗi lần đến HUFLIT Coffee. Hãy chia sẻ với chúng tôi để chúng tôi có thể mang đến cho bạn những trải nghiệm tuyệt vời hơn thế</p>
            <a href="#" class="btn">XEM CHI TIẾT</a>
        </div>

        <div class="image">
            <img src="~/image/trai-nghiem-dich-vu.jpg" alt="" style="border-radius: 12px;">
        </div>

        <div class="content content-pc-hide">
            <a href="#" class="about-title">DỊCH VỤ KHÁCH HÀNG</a>
            <p style="font-size: 20px;font-weight: bold;">Chào mừng bạn đến với HUFLIT Coffee</p>
            <p>Chúng tôi mong muốn mang đến cho bạn những trải nghiệm đáng nhớ mỗi lần đến HUFLIT Coffee. Hãy chia sẻ với chúng tôi để chúng tôi có thể mang đến cho bạn những trải nghiệm tuyệt vời hơn thế</p>
            <a href="#" class="btn">XEM CHI TIẾT</a>
        </div>

    </div>

    <div class="row">

        <div class="image">
            <img src="~/image/quay-ca-phe.jpg" alt="" style="border-radius: 12px">
        </div>
        <div class="content">
            <a href="#" class="about-title">NGHỀ NGHIỆP</a>
            <p style="font-size: 20px;font-weight: bold;">Hãy khởi đầu sự nghiệp cùng với HUFLIT Coffee</p>
            <p>Với sứ mệnh trở thành thương hiệu cà phê Việt Nam dẫn đầu, Highlands Coffee® luôn tìm kiếm những ứng cử viên tiềm năng có chung niềm đam mê và nỗ lực cùng chúng tôi vươn tới thành công. Chúng tôi luôn chào đón các bạn gia nhập vào đội ngũ chuyên nghiệp của gia đình HUFLIT Coffee.</p>
            <a href="#" class="btn">XEM CHI TIẾT</a>
        </div>

    </div>

</section>

