
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Thư viện ảnh  -->
<section class="gallery" id="gallery">
    <div class="row">
        <h1 class="heading"> <span>THƯ VIỆN ẢNH</span></h1>
    </div>
</section>
<section class="gallerys-item">
    <div class="box">
        <a href="~/image/cay-ca-phe.jpg" target="_blank">
            <img src="~/image/cay-ca-phe.jpg" alt="" class="img-fluig">
        </a>

    </div>

    <div class="box">
        <a href="~/image/cua-hang.jpg">
            <img src="~/image/cua-hang.jpg" alt="">
        </a>
    </div>

    <div class="box">
        <a href="~/image/nguon-goc-ca-phe.jpg">
            <img src="~/image/nguon-goc-ca-phe.jpg" alt="">
        </a>
    </div>

    <div class="box">
        <a href="~/images/quy-trinh.jpg">
            <img src="~/image/quy-trinh.jpg" alt="">
        </a>
    </div>

    <div class="box">
        <a href="~/image/thanh-vien.jpg">
            <img src="~/image/thanh-vien.jpg" alt="">
        </a>
    </div>

    <div class="box">
        <a href="~/image/gallery-coffee.2jpg.jpg">
            <img src="~/image/gallery-coffee.2jpg.jpg" alt="">
        </a>
    </div>

    <div class="box">
        <a href="~/image/gallery-coffee.3jpg.jpg">
            <img src="~/image/gallery-coffee.3jpg.jpg" alt="">
        </a>
    </div>
    <div class="box">
        <a href="~/image/gallery-coffee.4.jpg">
            <img src="~/image/gallery-coffee.4.jpg" alt="">
        </a>
    </div>

    <div class="box">
        <a href="~/image/gallery-coffee5.jpg">
            <img src="~/image/gallery-coffee5.jpg" alt="">
        </a>
    </div>
    <div class="box">
        <a href="~/image/gallery-coffee7.jpg">
            <img src="~/image/gallery-coffee7.jpg" alt="">
        </a>
    </div>
    <div class="box">
        <a href="~/image/gallery-coffee6.jpg">
            <img src="~/image/gallery-coffee6.jpg" alt="">
        </a>
    </div>
    <div class="box">
        <a href="~/image/gallery-coffee8.jpg">
            <img src="~/image/gallery-coffee8.jpg" alt="">
        </a>
    </div>
