
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Product section start -->
<section class="products" id="products">
    <div class="row">
        <h1 class="heading"> <span>DANH SÁCH SẢN PHẨM</span></h1>
    </div>
    <div class="sort">
        <div class="sort-title">
            Sắp xếp theo:
        </div>
        <select>
            <option>Giá: Tăng dần</option>
            <option>Giá: Giảm dần</option>
            <option>Sản phẩm nổi bật</option>
            <option>Tên: A-Z</option>
            <option>Tên: Z-A</option>
            <option>Cũ nhất</option>
            <option>Mới nhất</option>
            <option>Bán chạy nhất</option>
        </select>
    </div>
    <div class="box-container" style="margin-top: 16px;">

        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/capheviet-removebg-preview.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói Nescafe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">49.000đ <span>55.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/menu-caphe.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê sữa</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">29.000đ <span>35.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/ca-phe-den-nentrang.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê đen</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">29.000đ <span>35.000đ</span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/bac-xiu-arani.png" alt="">
            </div>
            <div class="content">
                <h3>Bạc sỉu</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">29.000đ <span>35.000đ</span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/coldbrew-nentrang.png" alt="">
            </div>
            <div class="content">
                <h3>Cold Brew</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">40.000đ <span>50.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            <div class="image">
                <img src="~/image/coldbrew-pbt-nentrang.png" alt="">
            </div>
            <div class="content">
                <h3>Cold Brew Phúc Bồn Tử</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">45.000đ <span>55.000đ</span></div>
            </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/latte-nentrang.png" width="75%" alt="">
            </div>
            <div class="content">
                <h3>Latte</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">45.000đ <span>55.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/cappu-nentrang.png" alt="">
            </div>
            <div class="content">
                <h3>Cappuchino</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">45.000đ <span>55.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGg7.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói G7</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">49.000đ <span>55.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGpl.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói Phúc Long</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">99.000đ <span>119.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGtrungnguyen.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói Trung Nguyên</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">89.000đ <span>109.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGongbau-nentrang.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói Ông Bầu</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">89.000đ <span>99.000đ</span></div>
            </div>
        </div>

    </div>

    <ul class="pagination">
        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-left"></i>
            </a>
        </li>
        <li class="pagination-item pagination-item--active">
            <a href="#" class="pagination-item__link">1</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">2</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">3</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">4</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">5</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">...</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">14</a>
        </li>
        <li class="pagination-item">
            <a href="#" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <div class="product-lq">
        Sản phẩm liên quan:
    </div>

    <div class="box-container" style="margin-bottom:24px">
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGtch.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói The Coffee House</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">109.000đ <span>129.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGhighland.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói HighLand</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">109.000đ <span>129.000đ</span></div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="~/Cafe/Cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="~/Cafe/Product_item" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="~/image/CPGstarbucks.png" alt="">
            </div>
            <div class="content">
                <h3>Cà phê gói Starbucks</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">149.000đ <span>155.000đ</span></div>
            </div>
        </div>
    </div>


